################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/AnalystDataImporter/bin/Debug
/AnalystDataImporterTestProject/obj
/AnalystDataImporter/obj/Debug/Views
/AnalystDataImporterTestsProject/bin/Debug
/AnalystDataImporterTestsProject/obj/Debug
/AnalystDataImporterTestsProject/obj/Release
/AnalystDataImporter/obj/Debug/WindowsWPF/PageImport2.baml
/AnalystDataImporter/obj/Debug/WindowsWPF/PageImport1.baml
/AnalystDataImporter/obj/Debug/AnalystDataImporter_MarkupCompile.lref
/AnalystDataImporter/obj/Debug/AnalystDataImporter_MarkupCompile.cache
/AnalystDataImporter/obj/Debug/AnalystDataImporter.csproj.CopyComplete
/AnalystDataImporter/obj/Debug/MainWindow.baml
/AnalystDataImporter/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/.gitignore
/AnalystDataImporter/obj/Release/Views
/UpgradeLog.htm
/AnalystDataImporter/obj/Release/WindowsWPF/PageImport2.g.cs
/AnalystDataImporter/obj/Release/WindowsWPF/PageImport1.g.cs
/AnalystDataImporter/obj/Release/AnalystDataImporter_MarkupCompile.lref
/AnalystDataImporter/obj/Release/AnalystDataImporter_MarkupCompile.cache
/AnalystDataImporter/obj/Release/MainWindow.g.cs
